# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr

# Environment Variables
.env
.env.*
!.env.example

# Backup and Temp Files
*.bak
*.tmp
*.temp
*~

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Scratch & Prototyping Files
/cardscroll2
/iconsscroll
/reviewsection
/convert.js
/generate_index.js
/fevicon.png
/fevicon.svg
/index.html.bak
