


        @media (min-width:992px) {
            html.w-mod-js:not(.w-mod-ix) [data-w-id="773b82de-ead9-5a6e-127c-b115c7f77bf7"] {
                background-color: rgba(0, 0, 0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="6ed1ac63-2ba6-5aa1-70e5-f2e7a6edf762"] {
                -webkit-transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="e6e49805-c96a-d1d0-3c9d-d628294166a6"] {
                -webkit-transform: translate3d(0%, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0%, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0%, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0%, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="91558cb0-f2c5-c19b-4072-64e77d283975"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="1ce9ae67-89d0-8e1a-4afd-72a26bb05dfe"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="619fe989-2f50-d0ed-374a-0adef1539438"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="c33fa1ad-7fee-959c-82b2-ff3bf977702a"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="50e53a82-15c2-141c-18c0-ef23c114e08f"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="2afa6e77-b232-a818-15c9-df11ef6f2b89"] {
                background-color: rgba(0, 0, 0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="47ec897b-2293-24e1-997c-6906ef790b9b"] {
                background-color: rgba(0, 0, 0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="47ec897b-2293-24e1-997c-6906ef790bc1"] {
                -webkit-transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="a04177af-72c0-9296-6ee2-b4d4dc72cc24"] {
                -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="bcd4bb02-db5d-c7d8-2f82-32a72d19a549"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="bcd4bb02-db5d-c7d8-2f82-32a72d19a554"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="47ec897b-2293-24e1-997c-6906ef790bb0"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="47ec897b-2293-24e1-997c-6906ef790bac"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="47ec897b-2293-24e1-997c-6906ef790ba8"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="47ec897b-2293-24e1-997c-6906ef790b9c"] {
                background-color: rgba(0, 0, 0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="7bd016e3-a429-fd34-1aa2-378eb7158df2"] {
                background-color: rgba(0, 0, 0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="7bd016e3-a429-fd34-1aa2-378eb7158e18"] {
                -webkit-transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="2aa3439c-888f-6922-af4c-b3c2203436c9"] {
                -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="adc584fa-b67b-1e55-2b18-d88f51e836cf"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="adc584fa-b67b-1e55-2b18-d88f51e836da"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="7bd016e3-a429-fd34-1aa2-378eb7158e07"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="7bd016e3-a429-fd34-1aa2-378eb7158e03"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="7bd016e3-a429-fd34-1aa2-378eb7158dff"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="7bd016e3-a429-fd34-1aa2-378eb7158df3"] {
                background-color: rgba(0, 0, 0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="437c74fd-02ab-1a96-f011-4dc23ee11d78"] {
                opacity: 0;
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="b32d4afb-1ba7-572e-01ab-ab75fd6e1733"] {
                opacity: 0;
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="b32d4afb-1ba7-572e-01ab-ab75fd6e172e"] {
                -webkit-transform: translate3d(0, 140%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 140%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 140%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 140%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="295811e4-e926-3268-dc1a-251440935b01"] {
                width: 12rem;
                height: 3rem;
            }
        }

        @media (max-width:991px) and (min-width:768px) {
            html.w-mod-js:not(.w-mod-ix) [data-w-id="b32d4afb-1ba7-572e-01ab-ab75fd6e172e"] {
                -webkit-transform: translate3d(0, 140%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 140%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 140%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 140%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="295811e4-e926-3268-dc1a-251440935b01"] {
                width: 12rem;
                height: 3rem;
            }
        }

        @media (max-width:767px) and (min-width:480px) {
            html.w-mod-js:not(.w-mod-ix) [data-w-id="b32d4afb-1ba7-572e-01ab-ab75fd6e172e"] {
                -webkit-transform: translate3d(0, 140%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 140%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 140%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 140%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="295811e4-e926-3268-dc1a-251440935b01"] {
                width: 12rem;
                height: 3rem;
            }
        }
    

        .swiper-button-prev:after,
        .swiper-button-next:after {
            content: '' !important;
        }

        .swiper-button-disabled {
            -webkit-filter: grayscale(100%) !important;
            filter: grayscale(100%) !important;
        }
    

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: background-color 50000s;
            -webkit-text-fill-color: white !important;
        }
    

        .w-webflow-badge {
            display: none !important;
        }
    

        .lenis.lenis-smooth [data-lenis-prevent] {
            overscroll-behavior: contain;
        }

        ::-webkit-scrollbar {
            width: 0px;
        }

        ::-webkit-scrollbar-thumb {
            background: #ccc;
        }

        ::-webkit-scrollbar-track {
            background: #fff;
        }

        body {
            overflow: hidden;
        }
    

                                        textarea {
                                            width: 80rem;
                                            overflow: hidden; resize: none;
                                            box-sizing: border-box;
                                            transition: width 0.2s ease;
                                        }
                                    

                /*Fluid responsive */
                html {
                    font-size: 1rem;
                }

                @media screen and (min-width: 998px) and (max-width: 2800px) {
                    html {
                        font-size: 1vw;
                    }
                }

                @media screen and (min-width: 2801px) {
                    html {
                        font-size: .8vw;
                    }
                }

                @media screen and (max-width: 997px) and (min-width: 480px) {
                    html {
                        font-size: 1vw;
                    }
                }

                @media screen and (min-width: 240px) and (max-width: 479px) {
                    html {
                        font-size: 4vw;
                    }
                }
            

                .circle {
                    width: 0.55rem;
                    height: 0.55rem;
                    border-radius: 50%;
                    position: fixed;
                    top: 0;
                    left: 0;
                    margin: -0.275rem 0 0 -0.275rem;
                    pointer-events: none;
                    mix-blend-mode: screen;
                    z-index: 9999;
                    box-shadow: 0rem 0rem 0.55rem 0rem #C8ACF0 inset, 0rem 0rem 1.6rem 0rem #C8ACF0, 0rem 0rem 0.55rem 0rem #C8ACF0;
                }

                .button-wrapper {
                    position: relative;
                }

                .button {
                    display: flex;
                    width: 12rem;
                    height: 4rem;
                    z-index: 1;
                    position: relative;
                    text-decoration: none;
                    text-align: center;
                    appearance: none;
                    transition: 0.6s;
                    background-color: transparent;
                    color: white;
                }

                .radial {
                    width: 3.4rem;
                    height: 3.4rem;
                }

                .app-store {
                    width: 11rem;
                }

                .button::after {
                    content: "";
                    box-shadow: 0rem 0rem 2.0832rem 0.7rem rgba(255, 255, 255, 0.3) inset, 0rem 0rem 1.4rem 0.3rem rgba(255, 255, 255, 0.3);
                    transition: 0.6s;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    border-radius: 999px;
                    opacity: 0;
                }

                .button-wrapper:hover .button::before,
                .button-wrapper:hover .button::after {
                    opacity: 1;
                }

                .button-wrapper:hover .dot {
                    transform: translate(0, 0) rotate(var(--rotatation));
                }

                .button-wrapper:hover .dot::after {
                    animation-play-state: running;
                }

                .button-wrapper:hover .button {
                    background-color: #C8ACF0;
                    color: #000;
                }

                .button-wrapper.white-button:hover .button {
                    background-color: white;
                    color: #000;
                }

                .dot {
                    display: block;
                    position: absolute;
                    transition: transform calc(var(--speed) / 12) ease;
                    width: var(--size);
                    height: var(--size);
                    transform: translate(var(--starting-x), var(--starting-y)) rotate(var(--rotatation));
                }

                .dot::after {
                    content: "";
                    animation: hoverFirefly var(--speed) infinite, dimFirefly calc(var(--speed) / 2) infinite calc(var(--speed) / 3);
                    animation-play-state: paused;
                    display: block;
                    border-radius: 100%;
                    background: #C8ACF0;
                    width: 100%;
                    height: 100%;
                    box-shadow: 0rem 0rem 0.42rem 0rem #C8ACF0, 0rem 0rem 0.3rem 0rem #C8ACF0 inset, 0rem 0rem 0.14rem 0.069rem #C8ACF0;
                }

                .dot.white-dot::after {
                    background: white;
                    box-shadow: 0rem 0rem 0.42rem 0rem white, 0rem 0rem 0.3rem 0rem white inset, 0rem 0rem 0.14rem 0.069rem white;
                }

                .dot-1 {
                    --rotatation: 0deg;
                    --speed: 14s;
                    --size: 0.41rem;
                    --starting-x: 2rem;
                    --starting-y: 1.3rem;
                    top: 0.13rem;
                    left: -1.11rem;
                    opacity: 0.7;
                }

                .dot-2 {
                    --rotatation: 122deg;
                    --speed: 16s;
                    --size: 0.2rem;
                    --starting-x: 2.7rem;
                    --starting-y: 0.6rem;
                    top: 0.06rem;
                    left: 0rem;
                    opacity: 0.7;
                }

                .dot-3 {
                    --rotatation: 39deg;
                    --speed: 20s;
                    --size: 0.27rem;
                    --starting-x: -0.7rem;
                    --starting-y: 1.4rem;
                    top: -0.55rem;
                    right: 0.97rem;
                }

                .dot-4 {
                    --rotatation: 220deg;
                    --speed: 18s;
                    --size: 0.13rem;
                    --starting-x: -2rem;
                    --starting-y: -0.34rem;
                    bottom: 0.27rem;
                    right: -0.97rem;
                    opacity: 0.9;
                }

                .dot-5 {
                    --rotatation: 190deg;
                    --speed: 22s;
                    --size: 0.34rem;
                    --starting-x: -2.7rem;
                    --starting-y: -1.4rem;
                    bottom: -0.41rem;
                    right: -0.20rem;
                }

                .dot-6 {
                    --rotatation: 20deg;
                    --speed: 15s;
                    --size: 0.27rem;
                    --starting-x: 0.83rem;
                    --starting-y: -1.25rem;
                    bottom: -0.83rem;
                    left: 2rem;
                    opacity: 0.7;
                }

                .radial-6 {
                    left: 1.5rem;
                }

                .dot-7 {
                    --rotatation: 300deg;
                    --speed: 19s;
                    --size: 0.2rem;
                    --starting-x: 0.41rem;
                    --starting-y: -1.38rem;
                    bottom: -1.1rem;
                    left: 3rem;
                }

                .radial-7 {
                    left: 2rem;
                }

                @media (max-width: 768px) {
                    .dot {
                        display: none;
                    }
                }

                @media (max-width: 479px) {
                    .dot {
                        display: none;
                    }

                    .button {
                        width: 9.5rem;
                        height: 3.4rem;
                    }

                    .radial {
                        width: 2.4rem;
                        height: 2.4rem;
                    }

                    .app-store {
                        width: 9rem;
                    }
                }


                @keyframes dimFirefly {
                    0% {
                        opacity: 1;
                    }

                    25% {
                        opacity: 0.4;
                    }

                    50% {
                        opacity: 0.8;
                    }

                    75% {
                        opacity: 0.5;
                    }

                    100% {
                        opacity: 1;
                    }
                }

                @keyframes hoverFirefly {
                    0% {
                        transform: translate(0, 0);
                    }

                    12% {
                        transform: translate(0.20832rem, 0.06944rem);
                    }

                    24% {
                        transform: translate(-0.13888rem, 0.20832rem);
                    }

                    37% {
                        transform: translate(0.13888rem, -0.13888rem);
                    }

                    55% {
                        transform: translate(-0.06944rem, 0rem);
                    }

                    74% {
                        transform: translate(0rem, 0.13888rem);
                    }

                    88% {
                        transform: translate(-0.20832rem, -0.06944rem);
                    }

                    100% {
                        transform: translate(0, 0);
                    }
                }
            